In [1]:
import pandas as pd

In [2]:
df = pd.read_json('lojas_renner.json')

In [3]:
df

,UF,estabelecimento,endereco,numero
0,AC,Shopping Via Verde,ESTRADA DA FLORESTA,1707
1,AL,Shopping Iguatemi Maceió,AVENIDA GUSTAVO PAIVA,2990
2,AL,Shopping Parque Shopping Maceió,AVENIDA COMENDADOR GUSTAVO PAIVA,5945
3,AL,Shopping Pátio Maceió,AVENIDA MENINO MARCELO,3800
4,AL,Shopping Arapiraca Garden,RUA JOSE LEITE BEZERRA,S/N
...,...,...,...,...
380,SP,Loja Avenida Paulista - RENNER,AVENIDA PAULISTA,1106
381,SP,Shopping Tamboré,AVENIDA PIRACEMA,669
382,SP,Shopping Pátio Paulista - RENNER,RUA TREZE DE MAIO,1947
383,SP,Shopping Light,RUA CORONEL XAVIER DE TOLEDO,23
384,TO,Shopping Capim Dourado,AVENIDA 107 NORTE AVENIDA JUSCELINO KUBITSCHEK,SN

In [5]:
df.groupby(['UF']).count()

    estabelecimento  endereco  numero
UF
AC                1         1       1
AL                4         4       4
AM                6         6       6
AP                1         1       1
BA               13        13      13
CE               10        10      10
DF               10        10      10
ES               10        10      10
GO               11        11      11
MA                6         6       6
MG               30        30      30
MS                5         5       5
MT                7         7       7
PA                9         9       9
PB                3         3       3
PE                9         9       9
PI                4         4       4
PR               19        19      19
RJ               39        39      39
RN                3         3       3
RO                1         1       1
RR                2         2       2
RS               45        45      45
SC               18        18      18
SE                4         4       4
SP              114       114     114
TO                1         1       1